<div id="product-image-wrapper" style="position: relative; display: inline-block;">
  <img
    id="product-image"
    src="{{ product.featured_image | image_url }}"
    alt="Product"
    height="400px"
    width="200px" />
  <div id="konva-container" style="position: absolute; top: 0; left: 0;"></div>
</div>


{% schema %}
  {
    "name": "Upfile - Image Editor",
    "target": "body",
    "javascript": "image-editor.min.js"
  }
{% endschema %}