{
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "app/graphql/**/*.ts",
      "options": {
        "quoteProps": "preserve",
        "trailingComma": "none"
      }
    },
    {
      "files": "gql-test-queries/**/*.ts",
      "options": {
        "quoteProps": "preserve",
        "trailingComma": "none"
      }
    }
  ]
}
