{% comment %} 
  * FileViewer is a container for the files that have been submitted by the user. 
  - the files will arrange in a row as they are submitted 
  - the component should be able to handle MULTIPLE file uploads at ONE time and ALSO in succession 
{% endcomment %}
<span class="fileviewer--wrapper">

  {% comment %} 
    if no files render this: 
  {% endcomment %}
  <div class="fileviewer--text">your files will appear here</div>

  {% comment %} 
    all file items will render like so: 
  {% endcomment %}
  <div class="fileviewer--item-list">
    <span class="fileviewer--item" style="background-image: url({{ 'file-icon.svg' | asset_url }});">
      <span class="fileviewer--item-name">name</span>
      <span class="fileviewer--item-type">.pdf</span>
    </span>
  </div>
</span>


{% schema %}
  {
    "name": "File Viewer",
    "target": "section",
    "javascript": "dropzone.js",
    "stylesheet": "fileviewer.css",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "text",
        "id": "default-text",
        "label": "Default Text",
        "default": "Drag and Drop Files Here"
      }, {
        "type": "color",
        "id": "default-border-colour",
        "label": "Default Border Colour",
        "default": "#201e1e"
      }, {
        "type": "checkbox",
        "id": "dotted-border",
        "label": "Dotted Border",
        "default": true
      }, {
        "type": "text",
        "id": "drag-error-message",
        "label": "Drag Error Message",
        "default": "Oops.. this isn't a valid file"
      }
    ]
  }
{% endschema %}