<span class="fileviewer-wrapper">
  <input
    class="fileviewer-input"
    type="file"
    id="fileUpload"
    multiple />
</span>

{% schema %}
  {
    "name": "File Viewer",
    "class": "shopify-block",
    "target": "section",
    "enabled_on": {
      "templates": ["product"]
    },
    "stylesheet": "fileviewer.css",
    "javascript": "dropzone.js",
    "settings": [
      {
        "type": "text",
        "id": "default-text",
        "label": "Default Text",
        "default": "Drag and Drop Files Here"
      }, {
        "type": "color",
        "id": "default-border-colour",
        "label": "Default Border Colour",
        "default": "#201e1e"
      }, {
        "type": "checkbox",
        "id": "dotted-border",
        "label": "Dotted Border",
        "default": true
      }, {
        "type": "text",
        "id": "drag-error-message",
        "label": "Drag Error Message",
        "default": "Oops.. this isn't a valid file"
      }
    ]
  }
{% endschema %}