.dropzone-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  min-width: 30px;
  gap: 10px;
  flex-wrap: wrap;
}

.dropzone-wrapper * {
  pointer-events: none; /* need this to avoid triggering */
}

.dropzone-text {
  text-wrap: wrap;
  font-weight: 800;
}

.valid {
  background-color: #d1ffcf;
  border-color: #187524;
  color: #187524;
}

.invalid {
  background-color: #ffcfcf;
  border-color: #aa0c0c;
  color: #aa0c0c;
}
