#upfile__dropzone-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  min-width: 30px;
  max-width: 440px; /* ! same as Dawn b
  y buttons */
  flex-wrap: wrap;
  padding: 10px;
  z-index: 0;
  pointer-events: auto;

  & > * {
    pointer-events: none;
  }

  & > #upfile__dropzone-text {
    display: none;
    text-wrap: wrap;
    font-weight: 800;
  }

  & > #upfile__functionality-separator {
    display: none;
    width: 100%;
    text-align: center;
  }

  /* Status styles */
  & > [data-status="valid"] {
    background-color: #d1ffcf;
    border-color: #187524;
    color: #187524;
  }

  & > [data-status="invalid"] {
    background-color: #ffcfcf;
    border-color: #aa0c0c;
    color: #aa0c0c;
  }

  & > [data-drag="dragging"] {
    pointer-events: all;
    z-index: 50;

    #upfile__select-file-btn {
      pointer-events: none;
      z-index: 0;
    }
  }

  #upfile__lower-section-container {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-rows: repeat(2, 1fr);

    #upfile__select-file-btn {
      grid-row: 1;
      text-align: center;
      pointer-events: auto;
      z-index: 2;
      font-weight: 600;
      border-radius: 5px;
      width: 200px;
      padding: 10px 20px;
      color: white;
      background-color: black;
      border: none;

      &:hover {
        cursor: pointer;
        outline: 1px solid black;
      }
    }

    #upfile__help-text {
      grid-row: 2;
      display: none;
      font-size: 12px;
      font-style: italic;
      font-weight: 800;
    }
  }
}

/* Desktop view styles */
@media (min-width: 600px) {
  #upfile__dropzone-wrapper {
    #upfile__dropzone-text {
      display: block;
    }
    #upfile__functionality-separator {
      display: block;
    }
    #upfile__lower-section-container #upfile__help-text {
      display: block;
    }
  }
}

/* Toast notification */
#upfile__toast-container {
  position: fixed;
  display: none; /* switch to flex */
  flex-direction: column;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  & > #upfile__toast-text {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fadeInOut 5s ease-out forwards;
  }

  & > #upfile__toast-text-more {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
