#upfile__fileviewer--wrapper {
  /* variables: */
  --soft-grey: #ececec;
  --light-grey: #d6d6d5;
  --med-grey: #717171;
  --deep-grey: #3e3e3e;

  display: flex;
  border: 1px dashed var(--deep-grey);
  border-radius: 15px;
  padding: 10px;
  min-height: 30px;
  min-width: 60px;
  max-width: 440px; /* ! same as Dawn buy buttons */
  align-items: center;
  justify-content: center;

  & > #upfile__fileviewer--text {
    text-align: center;
  }

  & > #upfile__fileviewer--item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

    & > #upfile__fileviewer--item-row {
      display: grid;
      /*    icon | name/size/progress | trash-icon   */
      grid-template-columns: 65px auto 20px;

      justify-content: baseline;
      align-items: center;

      background-color: var(--soft-grey);
      border-radius: 15px;

      padding: 10px;
      width: 100%;
      z-index: 2;

      & > #upfile__fileviewer--left-section {
        position: relative;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        justify-items: center;

        & svg,
        path {
          width: 50px;
          height: 50px;
        }
        & > #upfile__fileviewer--item-type {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;

          color: white;
          font-weight: 800;
          font-size: clamp(8px, 5vw, 10px);
          text-wrap: fit-content;

          /* should be able to safely handle 4 characters and the period */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      & > #upfile__fileviewer--center-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        text-align: left;
        word-break: keep-all;

        & > #upfile__fileviewer--item-name {
          font-weight: 800;
          color: black;
          z-index: 5;
          font-size: 14px;
          max-width: 200px;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        & > #upfile__fileviewer--item-size {
          display: grid;
          align-items: center;
          font-size: 10px;
          color: var(--med-grey);
        }
      }

      & > #upfile__fileviewer--right-section {
        display: grid;
        align-items: end;
        justify-content: center;

        & > #upfile__fileviewer--trash-icon {
          &:hover {
            cursor: pointer;
            filter: brightness(50%);
          }
        }
      }
    }
  }
}
